<!DOCTYPE HTML>
<html>
	<head>
		<title>VisualSounds</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<h1 id="toptext">Insert a link to an image below, and we'll play a relevant song for you</h1>
		<div id="url">
		<input type="text" id="urltext" placeholder="Insert URL here" rows="50" cols="200"></input>
		</div>
		<div id="submiturl">
		<button id="push" style="text-align: center;">Find me a song!</button>
		</div>
		<p id="tophit"></p>
		<p id="songname"></p>
		<p id="amiwrong" class="textbelow"></p>

		<div id="otheroptions">
		<p id="2" class="myButton"></p>
		<p id="3" class="myButton"></p>
		<p id="4" class="myButton"></p>
		<p id="5" class="myButton"></p>
		</div>
	</body>
	<script src="js/getImageContents.js"></script>
</html>