body {
	background-color: purple;
	text-align: center;
}

#push {
	background-color: blue;
	font-size: 50;
}

#push {
	text-align: center;
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	/*display:inline-block;*/
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	padding:30px 29px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
	text-align: center;
	/*margin: auto;*/
	position: relative;
}
#push:hover {
	background-color:#5cbf2a;
}

#wrapper {
	display: inline-block;
	text-align: center;
}

h1 {
	font-size: 32px;
}

#url {
	margin-top: 40px;
	margin-bottom: 30px;
}

#urltext {
	height: 40px;
	width: 200px;
	font-size: 20px;
}

#tophit {
	font-size: 24px;
}

#songname {
	font-size: 24px;
	margin-top: 20px;
}